@font-face {
  font-family: 'wbs-';
  src: url('chrome-extension://__MSG_@@extension_id__/wbs-.svg?76014930#wbs-') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "wbs-";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}
 
.icon-eye:before { content: '\e800'; } /* '' */
.icon-download:before { content: '\e801'; } /* '' */

.wbs_dl {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 200;
	height: 0;
	opacity: 0;
	-webkit-transition: all .25s;
	transition: all .25s;
	overflow: hidden;
	visibility: hidden;
	background-color: rgba(0,0,0,0.1);
	box-shadow: inset 0 2em 2em -2em #000;
}

.thumb:hover .wbs_dl {
	height: 30px;
	opacity: 1;
	visibility: visible;
}

.wbs_dl a {
	color: white;
	font-size: 18px;
	display: inline-block;
	margin-top: 4px;
	text-shadow: 1px 1px 1px rgba(0,0,0,.75);
}

#wbs-dl-button {
	margin-top: 20px;
	margin-bottom: 20px;
}

.leftbar .favsrow.wbs-down .icon.icon-download {
	width: auto;
	height: auto;
	margin-top: -6px;
	margin-left: -4px;
	color: #4CA469;
}